#!/bin/bash

INSTALL_DIR={{ install_dir }}
NAME=tasklist

cd ${INSTALL_DIR}

/usr/bin/java  -DDB_URL=jdbc:sqlite:${INSTALL_DIR}/db/${NAME}.db \
               -DCORS_HOSTS={{ cors_hosts }} \
               -DconfigFile=$INSTALL_DIR/conf/config.properties -jar ${NAME}.jar &

PID=$!

echo $PID > ${INSTALL_DIR}/${NAME}.pid
