[Unit]
Description=TaskList
After=multi-user.target
 
[Service]
Type=simple
User={{ service_user }}
ExecStart=/bin/bash {{ install_dir }}/bin/start.sh
ExecStop=/bin/bash {{ install_dir }}/bin/stop.sh
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
