apiVersion: v1
kind: Template
labels:
  template: tasklist-development-pipeline-template
message: Created a Jenkins pipeline deployment config.
metadata:
  annotations:
    description: Template for creating a deployment config to run a jenkins pipeline from git.
  creationTimestamp: null
  name: tasklist-development-pipeline-template
objects:
- apiVersion: v1
  kind: BuildConfig
  metadata:
    annotations:
      openshift.io/generated-by: tasklist-development-pipeline-template
    creationTimestamp: null
    labels:
      app: ${APP_NAME}
      pipeline: development
    name: ${APP_NAME}-development-pipeline
  spec:
    failedBuildsHistoryLimit: ${{FAILED_BUILDS_LIMIT}}
    nodeSelector: null
    output: {}
    postCommit: {}
    resources: {}
    runPolicy: SerialLatestOnly
    source:
      contextDir: ${CONTEXT_DIR}
      git:
        ref: ${GIT_BRANCH}
        uri: ${GIT_URL}
      type: Git
    sourceSecret:
      name: ${SOURCE_SECRET_NAME}
    strategy:
      jenkinsPipelineStrategy:
        jenkinsfilePath: ${JENKINS_FILENAME}
        env:
        - name: GIT_URL
          value: ${GIT_URL}
        - name: GIT_CREDENTIALS_ID
          value: ${GIT_CREDENTIALS_ID}
        - name: CLONE_BRANCH
          value: ${GIT_BRANCH}
        - name: PIPELINE_BRANCH
          value: ${PIPELINE_GIT_BRANCH}
        - name: APP_NAME
          value: dev-${APP_NAME}
        - name: BUILD_NAMESPACE
          value: ${BUILD_NAMESPACE}
        - name: DEV_NAMESPACE
          value: ${DEV_NAMESPACE}
        - name: TARGET_IMAGESTREAM_NAME
          value: ${TARGET_IMAGESTREAM_NAME}
        - name: APP_DOMAIN
          value: ${APP_DOMAIN}
        - name: BUILD_TIMEOUT
          value: ${BUILD_TIMEOUT}
        - name: DEPLOYMENT_TIMEOUT
          value: ${DEPLOYMENT_TIMEOUT}
      type: JenkinsPipeline
    successfulBuildsHistoryLimit: ${{SUCCESS_BUILDS_LIMIT}}
    triggers:
    - type: Generic
      generic:
        secretReference:
          name: ${GENERIC_TRIGGER_SECRET_NAME}
    - type: GitHub
      github:
        secretReference:
          name: ${GITHUB_TRIGGER_SECRET_NAME}
parameters:
- name: GIT_URL
  required: true
  description: URL to git repository.
- name: GIT_CREDENTIALS_ID
  required: false
  description: Credentials id for git clone
  value: ""
- name: CONTEXT_DIR
  required: true
  description: Name of folder inside git repository where the jenkins file is.
- name: GIT_BRANCH
  description: Git branch to clone code from
  value: development
- name: PIPELINE_GIT_BRANCH
  value: master
- name: JENKINS_FILENAME
  required: true
  description: Name of jenkinsfile.
- name: FAILED_BUILDS_LIMIT
  value: '5'
  description: Number of failed builds to keep.
- name: SUCCESS_BUILDS_LIMIT
  value: '5'
  description: Number of successful builds to keep.
- name: RUN_POLICY
  value: SerialLatestOnly
  description: Run policy for the build config.
- name: APP_NAME
  required: true
  description: Value for app-label
- name: BUILD_NAMESPACE
  description: build and CI/CD namespace
  required: true
- name: DEV_NAMESPACE
  description: development namespace
  required: true
- name: TARGET_IMAGESTREAM_NAME
  description: Target imagestream name
  required: true
- name: APP_DOMAIN
  description: Openshift application domain
  required: true
- name: BUILD_TIMEOUT
  description:
  value: '10'
  required: true
- name: DEPLOYMENT_TIMEOUT
  description:
  value: '10'
  required: true
- name: GENERIC_TRIGGER_SECRET_NAME
  description: Name of generic trigger secret
  value: dev-generic-trigger
  required: false
- name: GITHUB_TRIGGER_SECRET_NAME
  description: Name of Github trigger secret
  value: dev-github-trigger
  required: false
- name: SOURCE_SECRET_NAME
  description: Name of source clone secret
  value: tasklist-git-clone-secret
  required: false