<!DOCTYPE html>
<html lang="en">
<head>
  <title>Task List</title>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg" href="./fontawesome-free-5.10.2-web/svgs/solid/tasks.svg" />
  <link rel="stylesheet" href="./css/patternfly.css">
  <link rel="stylesheet" href="./css/patternfly-addons.css">
  <link rel="stylesheet" href="./fontawesome-free-5.10.2-web/css/all.css">
  <script src="./js/vue-2.6.10.min.js"></script>
  <script src="./js/jquery-3.5.1.min.js"></script>
</head>
<body>
  <div class="ws-site-root" id="content">
    <div class="pf-c-background-image">
      <svg xmlns="http://www.w3.org/2000/svg" class="pf-c-background-image__filter" width="0" height="0">
        <filter id="image_overlay">
          <feColorMatrix type="matrix" values="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0"></feColorMatrix>
          <feComponentTransfer color-interpolation-filters="sRGB" result="duotone">
            <feFuncR type="table" tableValues="0.086274509803922 0.43921568627451"></feFuncR>
            <feFuncG type="table" tableValues="0.086274509803922 0.43921568627451"></feFuncG>
            <feFuncB type="table" tableValues="0.086274509803922 0.43921568627451"></feFuncB>
            <feFuncA type="table" tableValues="0 1"></feFuncA>
          </feComponentTransfer>
        </filter>
      </svg>
    </div>
    <ul class="pf-c-alert-group pf-m-toast" id="alerts" v-on:click="clickOnAlert">
    </ul>
    <div class="pf-c-page">
      <header class="pf-c-page__header">
        <div class="pf-c-page__header-brand">
          <i class="fas fa-tasks"></i><div>&nbsp;Task List</div>
        </div>
        <div class="pf-c-page__header-nav"></div>
        <div class="pf-c-page__header-tools">
          <div v-on:click="toggleAbout"><i class="far fa-question-circle"></i>&nbsp;&nbsp;&nbsp;</div>
          <div class="pf-c-dropdown" v-bind:class="{ 'pf-m-expanded': data.userMenuOpen }">
            <button class="pf-c-dropdown__toggle" type="button" id="dropdown-button" aria-expanded="true" v-on:click="userMenuClick">
              <span class="pf-c-dropdown__toggle-text">{{ data.user }}</span>
              <span class="pf-c-dropdown__toggle-icon">
                <i class="fas fa-caret-down" aria-hidden="true"></i>
              </span>
            </button>
            <ul class="pf-c-dropdown__menu" aria-labelledby="dropdown-button" :hidden="!data.userMenuOpen">
              <li>
                <a class="pf-c-dropdown__menu-item" href="#" v-on:click="logout">Sign out</a>
              </li>
            </ul>
          </div>
          <img class="pf-c-avatar" src="./images/img_avatar.svg" alt="Avatar image">
        </div>
      </header>
      <main role="main" class="pf-c-page__main" tabindex="-1">
        <section class="pf-c-page__main-section pf-m-fill" v-if="data.todoItems.length!=0">
          <div id="active" v-if="activeItems.length > 0" v-on:click="activeItemClick">
            <h1 class="pf-c-title pf-m-xl" v-if="activeItems.length > 0">Active</h1><br />
            <div class="pf-l-grid pf-m-gutter pf-m-all-12-col">
              <div class="pf-l-grid__item">
                <div class="pf-l-grid pf-m-gutter">
                  <div class="pf-l-grid__item pf-m-12-col pf-m-5-col-on-lg pf-m-6-col-on-xl pf-m-8-col-on-2xl">
                    <div class="pf-l-flex">
                      <div class="pf-l-flex__item"><b>Title</b></div><div class="pf-l-flex__item"><b>-</b></div><div class="pf-l-flex__item"><b>Descirption</b></div>
                    </div>
                  </div>
                  <div class="pf-l-grid__item pf-m-6-col pf-m-3-col-on-sm pf-m-2-col-on-lg pf-m-1-col-on-xl"><b>Repeat</b></div>
                  <div class="pf-l-grid__item pf-m-6-col pf-m-3-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl pf-m-1-col-on-2xl"><b>Due Date</b></div>
                  <div class="pf-l-grid__item pf-m-12 pf-m-6-col-on-sm pf-m-3-col-on-lg pf-m-3-col-on-xl pf-m-2-col-on-2xl"></div>
                </div>
              </div>
              <todoitem v-for="item in activeItems" v-bind:item="item" v-bind:id="item.id" v-bind:key="item.id"></todoitem>
            </div>
          </div>
          <h1 class="pf-c-title pf-m-xl" v-if="inactiveItems.length > 0"><br/>Completed/Inactive</h1><br />
          <div id="completed" v-if="inactiveItems.length > 0" v-on:click="inactiveItemClick">
            <div class="pf-l-grid pf-m-gutter pf-m-all-12-col">
              <div class="pf-l-grid__item">
                <div class="pf-l-grid pf-m-gutter">
                  <div class="pf-l-grid__item pf-m-12-col pf-m-5-col-on-lg pf-m-6-col-on-xl pf-m-8-col-on-2xl">
                    <div class="pf-l-flex">
                      <div class="pf-l-flex__item"><b>Title</b></div><div class="pf-l-flex__item"><b>-</b></div><div class="pf-l-flex__item"><b>Descirption</b></div>
                    </div>
                  </div>
                  <div class="pf-l-grid__item pf-m-6-col pf-m-3-col-on-sm pf-m-2-col-on-lg pf-m-1-col-on-xl"><b>Repeat</b></div>
                  <div class="pf-l-grid__item pf-m-6-col pf-m-3-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl pf-m-1-col-on-2xl"><b>Due Date</b></div>
                  <div class="pf-l-grid__item pf-m-12 pf-m-6-col-on-sm pf-m-3-col-on-lg pf-m-3-col-on-xl pf-m-2-col-on-2xl"></div>
                </div>
              </div>
              <todoitem v-for="item in inactiveItems" v-bind:item="item" v-bind:id="item.id" v-bind:key="item.id"></todoitem>
            </div>
          </div>
          <div class="pf-c-empty-state" v-if="data.todoItems.length == 0">
            <div class="pf-c-empty-state__content">
              <i class="fas fa-cubes pf-c-empty-state__icon" aria-hidden="true"></i>
              <h1 class="pf-c-title pf-m-lg">No task items</h1>
              <div class="pf-c-empty-state__body"></div>
              <button class="pf-c-button pf-m-primary" type="button" v-on:click="startNewItemWizard">Add first task item</button>
            </div>
          </div>
        </section>
        <section class="pf-c-page__main-section pf-m-no-fill" v-if="data.todoItems.length > 0">
          <button class="pf-c-button pf-m-primary" type="button" id="add-item" v-on:click="startNewItemWizard">
            <i class="fas fa-plus-circle"></i>
          </button>
          <br /><br />
        </section>
        <section class="pf-c-page__main-section pf-m-no-fill" v-if="data.todoItems.length == 0">
          <div class="pf-c-empty-state">
            <div class="pf-c-empty-state__content">
              <i class="fas fa-cubes pf-c-empty-state__icon" aria-hidden="true"></i>
              <h1 class="pf-c-title pf-m-lg">Empty task list</h1>
              <div class="pf-c-empty-state__body">There are no tasks on your list.</div>
              <button class="pf-c-button pf-m-primary" type="button" v-on:click="startNewItemWizard">Add new task</button>
            </div>
          </div>
        </section>
      </main>
    </div>
    <div class="pf-c-backdrop" id="new-todo-wizard" v-show="showNewItemWizard">
      <div class="pf-l-bullseye">
        <div class="pf-c-wizard pf-u-w-100 pf-u-w-75-on-md pf-u-w-50-on-2xl pf-u-h-100 pf-u-h-75-on-lg pf-u-h-50-on-2xl">
          <div class="pf-c-wizard__header">
            <button class="pf-c-button pf-m-plain pf-c-wizard__close" type="button" aria-label="Close" v-on:click="closeWizard">
              <i class="fas fa-times" aria-hidden="true"></i>
            </button>
            <h1 class="pf-c-title pf-m-3xl pf-c-wizard__title">New Task</h1>
            <p class="pf-c-wizard__description">New task item wizard</p>
          </div>
          <button aria-label="Wizard Header Toggle" class="pf-c-wizard__toggle" aria-expanded="false">
            <ol class="pf-c-wizard__toggle-list">
              <li class="pf-c-wizard__toggle-list-item" v-if="data.newItemWizardPage==1">
                <span class="pf-c-wizard__toggle-num">1</span>Basic Info
              </li>
              <li class="pf-c-wizard__toggle-list-item" v-if="data.newItemWizardPage==2">
                <span class="pf-c-wizard__toggle-num">2</span>Scheduling
              </li>
              <li class="pf-c-wizard__toggle-list-item" v-if="data.newItemWizardPage==3">
                <span class="pf-c-wizard__toggle-num">3</span>Review
              </li>
            </ol>
            <i class="fas fa-caret-down pf-c-wizard__toggle-icon" aria-hidden="true"></i>
          </button>
          <div class="pf-c-wizard__outer-wrap">
            <div class="pf-c-wizard__inner-wrap">
              <nav class="pf-c-wizard__nav" aria-label="Steps">
                <ol class="pf-c-wizard__nav-list">
                  <li class="pf-c-wizard__nav-item">
                    <a href="#" class="pf-c-wizard__nav-link " v-bind:class="{'pf-m-current': newItemWizardPage==1}">Basic Info</a>
                  </li>
                  <li class="pf-c-wizard__nav-item">
                    <a href="#" class="pf-c-wizard__nav-link" v-bind:class="{'pf-m-current': newItemWizardPage==2}">Scheduling</a>
                  </li>
                  <li class="pf-c-wizard__nav-item">
                    <a href="#" class="pf-c-wizard__nav-link" aria-disabled="true" tabindex="-1" v-bind:class="{'pf-m-current': newItemWizardPage==3, 'pf-m-disabled': newItemWizardPage<3}">Review</a>
                  </li>
                </ol>
              </nav>
              <div class="pf-c-wizard__main">
                <div class="pf-c-wizard__main-body"  v-if="data.newItemWizardPage == 1">
                  <p>Basic information</p>
                  <br />
                  <form novalidate class="pf-c-form pf-m-horizontal">
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="new-item-title">
                        <span class="pf-c-form__label-text">Title</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <input class="pf-c-form-control" type="text" id="new-item-title" name="new-item-title" :aria-invalid="data.newItem.title==''" required v-model="data.newItem.title" placeholder="new item title" v-bind:class="{ 'pf-m-success': data.newItem.title!='' }"/>
                        <p class="pf-c-form__helper-text pf-m-error" id="new-item-title-error" aria-live="polite" v-show="data.newItem.title==''">You need to specify task title</p>
                        <p class="pf-c-form__helper-text pf-m-success" id="new-item-title-success" aria-live="polite" v-show="data.newItem.title!=''"></p>
                      </div>
                    </div>
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="new-item-desc">
                        <span class="pf-c-form__label-text">Description</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <textarea class="pf-c-form-control" type="text" id="new-item-desc" name="new-item-desc" aria-label="textarea example" v-model="data.newItem.description" placeholder="new item description"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="pf-c-wizard__main-body" v-if="data.newItemWizardPage == 2">
                  <p>Scheduling</p>
                  <br />
                  <form novalidate class="pf-c-form pf-m-horizontal">
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label pf-m-no-padding-top" for="new-item-scheduled-checkbox">
                        <span class="pf-c-form__label-text">Scheduled</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <div class="pf-c-check">
                          <input class="pf-c-check__input" type="checkbox" type="checkbox" id="new-item-scheduled-checkbox" name="new-item-scheduled-checkbox"  v-model="data.newItem.scheduled"/>
                          <label class="pf-c-check__label" for="new-item-scheduled-checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="pf-c-form__group" v-if="data.newItem.scheduled">
                      <div class="pf-c-form__group-label">
                        <label class="pf-c-form__label" for="new-item-duedate-date-picker">
                          <span class="pf-c-form__label-text">Due Date</span>
                          <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                        </label>
                      </div>
                      <div class="pf-c-form__group-control">
                        <div class="pf-c-input-group">
                          <label class="pf-c-input-group__text" for="new-item-duedate-date-picker">
                            <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                          </label>
                          <input class="pf-c-form-control" type="date" id="new-item-duedate-date-picker" name="new-item-duedate-date-picker" aria-label="Task due date"  :aria-invalid="data.newItem.dueDate==''" v-model="data.newItem.dueDate" v-bind:class="{ 'pf-m-success': data.newItem.dueDate!='' }"/>
                        </div>
                        <p class="pf-c-form__helper-text pf-m-error" id="new-item-duedate-date-picker-error" aria-live="polite" v-show="data.newItem.dueDate==''">You need to specify task due date</p>
                        <p class="pf-c-form__helper-text pf-m-success" id="new-item-duedate-date-picker-success" aria-live="polite" v-show="data.newItem.dueDate!=''"></p>
                      </div>
                    </div>
                    <div class="pf-c-form__horizontal-group" v-if="data.newItem.scheduled">
                      <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="new-item-duedate-time">
                          <span class="pf-c-form__label-text">Time</span>
                        </label>
                        <div class="pf-c-form__horizontal-group">
                          <input class="pf-c-form-control" type="text" id="new-item-duedate-time" name="new-item-duedate-time" v-model="data.newItem.dueTime" placeholder="HH:MM" maxlength="5"/>
                        </div>
                      </div>
                    </div>
                    <div class="pf-c-form__horizontal-group" v-if="data.newItem.scheduled">
                      <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="new-item-duedate-tz">
                          <span class="pf-c-form__label-text">Timezone</span>
                        </label>
                        <div class="pf-c-form__horizontal-group">
                          <input class="pf-c-form-control" type="text" id="new-item-duedate-tz" name="edit-item-duedate-tz" v-model="data.newItem.dueTimezone" placeholder="+02:00" maxlength="6"/>
                        </div>
                      </div>
                    </div>
                    <div class="pf-c-form__group" v-if="data.newItem.scheduled">
                      <label class="pf-c-form__label pf-m-no-padding-top" for="new-item-repeating-radio-default">
                        <span class="pf-c-form__label-text">Repeating</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="new-item-repeating-radio-default" name="exampleRadioSimple" value="No" v-model="data.newItem.repeating"/>
                          <label class="pf-c-radio__label" for="new-item-repeating-radio-default">No</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="new-item-repeating-radio-daily" name="exampleRadioSimple" value="Daily"  v-model="data.newItem.repeating"/>
                          <label class="pf-c-radio__label" for="new-item-repeating-radio-daily">Daily</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="new-item-repeating-radio-weekly" name="exampleRadioSimple" value="Weekly"  v-model="data.newItem.repeating"/>
                          <label class="pf-c-radio__label" for="new-item-repeating-radio-weekly">Weekly</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="new-item-repeating-radio-biweekly" name="exampleRadioSimple" value="BiWeekly"  v-model="data.newItem.repeating"/>
                          <label class="pf-c-radio__label" for="new-item-repeating-radio-biweekly">Bi-Weekly</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="new-item-repeating-radio-monthly" name="exampleRadioSimple" value="Monthly"  v-model="data.newItem.repeating"/>
                          <label class="pf-c-radio__label" for="new-item-repeating-radio-monthly">Montly</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="new-item-repeating-radio-yearly" name="exampleRadioSimple" value="Yearly"  v-model="data.newItem.repeating"/>
                          <label class="pf-c-radio__label" for="new-item-repeating-radio-yearly">Yearly</label>
                        </div>
                        <!--
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="new-item-repeating-radio-custom" name="exampleRadioSimple" value="Custom"  v-model="data.newItem.repeating"/>
                          <label class="pf-c-radio__label" for="new-item-repeating-radio-custom">Custom</label>
                        </div>
                        -->
                      </div>
                    </div>
                  </form>
                </div>
                <div class="pf-c-wizard__main-body" v-if="data.newItemWizardPage == 3">
                  <p>Overiew</p>
                  <br />
                  <form novalidate class="pf-c-form pf-m-horizontal">
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="new-item-title-overview">
                        <span class="pf-c-form__label-text">Title</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p id="new-item-title-overview" class="pf-c-form-control" name="new-item-title-overview">{{ data.newItem.title }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="new-item-desc-overview">
                        <span class="pf-c-form__label-text">Description</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p class="pf-c-form-control" id="new-item-desc-overview" name="new-item-desc-overview">{{ data.newItem.description }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="new-item-scheduled-overview">
                        <span class="pf-c-form__label-text">Scheduled</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p class="pf-c-form-control" id="new-item-scheduled-overview" name="new-item-scheduled-overview">{{ data.newItem.scheduled }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group" v-if="data.newItem.scheduled">
                      <label class="pf-c-form__label" for="new-item-duedate-overview">
                        <span class="pf-c-form__label-text">Due date</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p class="pf-c-form-control" id="new-item-duedate-overview" name="new-item-duedate-overview">{{ data.newItem.dueDate }} {{ data.newItem.dueTime }} {{ data.newItem.dueTimezone }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group" v-if="data.newItem.scheduled">
                      <label class="pf-c-form__label" for="new-item-repeating-overview">
                        <span class="pf-c-form__label-text">Repeating</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p class="pf-c-form-control" id="new-item-repeating-overview" name="new-item-repeating-overview">{{ data.newItem.repeating }}</p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <footer class="pf-c-wizard__footer">
              <button class="pf-c-button pf-m-primary" type="submit" v-if="newItemWizardPage < 3" v-on:click="newWizardNext">Next</button>
              <button class="pf-c-button pf-m-primary" type="submit" v-else v-on:click="newWizardSave">Save</button>
              <button class="pf-c-button pf-m-secondary pf-m-disabled" type="button" disabled v-if="newItemWizardPage==1">Back</button>
              <button class="pf-c-button pf-m-secondary" type="button" v-else v-on:click="newWizardBack">Back</button>
              <button class="pf-c-button pf-m-link" type="button" v-on:click="wizardCancel">Cancel</button>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <div class="pf-c-backdrop" id="edit-todo-wizard" v-show="showEditItemWizard">
      <div class="pf-l-bullseye">
        <div class="pf-c-wizard pf-u-w-100 pf-u-w-75-on-md pf-u-w-50-on-2xl pf-u-h-100 pf-u-h-75-on-lg pf-u-h-50-on-2xl">
          <div class="pf-c-wizard__header">
            <button class="pf-c-button pf-m-plain pf-c-wizard__close" type="button" aria-label="Close" v-on:click="toggleEditItemWizard">
              <i class="fas fa-times" aria-hidden="true"></i>
            </button>
            <h1 class="pf-c-title pf-m-3xl pf-c-wizard__title">Edit Task</h1>
            <p class="pf-c-wizard__description">Edit task item wizard</p>
          </div>
          <button aria-label="Wizard Header Toggle" class="pf-c-wizard__toggle" aria-expanded="false">
            <ol class="pf-c-wizard__toggle-list">
              <li class="pf-c-wizard__toggle-list-item" v-if="data.editItemWizardPage==1">
                <span class="pf-c-wizard__toggle-num">1</span>Basic Info
              </li>
              <li class="pf-c-wizard__toggle-list-item" v-if="data.editItemWizardPage==2">
                <span class="pf-c-wizard__toggle-num">2</span>Scheduling
              </li>
              <li class="pf-c-wizard__toggle-list-item" v-if="data.editItemWizardPage==3">
                <span class="pf-c-wizard__toggle-num">3</span>Review
              </li>
            </ol>
            <i class="fas fa-caret-down pf-c-wizard__toggle-icon" aria-hidden="true"></i>
          </button>
          <div class="pf-c-wizard__outer-wrap">
            <div class="pf-c-wizard__inner-wrap">
              <nav class="pf-c-wizard__nav" aria-label="Steps">
                <ol class="pf-c-wizard__nav-list">
                  <li class="pf-c-wizard__nav-item">
                    <a href="#" class="pf-c-wizard__nav-link " v-bind:class="{'pf-m-current': editItemWizardPage==1}">Basic Info</a>
                  </li>
                  <li class="pf-c-wizard__nav-item">
                    <a href="#" class="pf-c-wizard__nav-link" v-bind:class="{'pf-m-current': editItemWizardPage==2}">Scheduling</a>
                  </li>
                  <li class="pf-c-wizard__nav-item">
                    <a href="#" class="pf-c-wizard__nav-link" aria-disabled="true" tabindex="-1" v-bind:class="{'pf-m-current': editItemWizardPage==3, 'pf-m-disabled': editItemWizardPage<3}">Review</a>
                  </li>
                </ol>
              </nav>
              <div class="pf-c-wizard__main">
                <div class="pf-c-wizard__main-body"  v-if="data.editItemWizardPage == 1">
                  <p>Basic information</p>
                  <br />
                  <form novalidate class="pf-c-form pf-m-horizontal">
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="edit-item-id">
                        <span class="pf-c-form__label-text">ID</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p id="edit-item-id" class="pf-c-form-control" name="edit-item-id">{{ data.editItem.id }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="edit-item-title">
                        <span class="pf-c-form__label-text">Title</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <input class="pf-c-form-control" type="text" id="edit-item-title" name="edit-item-title" :aria-invalid="data.editItem.title==''" required v-model="data.editItem.title" placeholder="new item title" v-bind:class="{ 'pf-m-success': data.editItem.title!='' }"/>
                        <p class="pf-c-form__helper-text pf-m-error" id="edit-item-title-error" aria-live="polite" v-show="data.editItem.title==''">You need to specify task title</p>
                        <p class="pf-c-form__helper-text pf-m-success" id="edit-item-title-success" aria-live="polite" v-show="data.editItem.title!=''"></p>
                      </div>
                    </div>
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="edit-item-desc">
                        <span class="pf-c-form__label-text">Description</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <textarea class="pf-c-form-control" type="text" id="edit-item-desc" name="edit-item-desc" aria-label="textarea example" v-model="data.editItem.description" placeholder="new item description"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="pf-c-wizard__main-body" v-if="data.editItemWizardPage == 2">
                  <p>Scheduling</p>
                  <br />
                  <form novalidate class="pf-c-form pf-m-horizontal">
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label pf-m-no-padding-top" for="edit-item-scheduled-checkbox">
                        <span class="pf-c-form__label-text">Scheduled</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <div class="pf-c-check">
                          <input class="pf-c-check__input" type="checkbox" type="checkbox" id="edit-item-scheduled-checkbox" name="edit-item-scheduled-checkbox"  v-model="data.editItem.scheduled"/>
                          <label class="pf-c-check__label" for="edit-item-scheduled-checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="pf-c-form__group" v-if="data.editItem.scheduled">
                      <div class="pf-c-form__group-label">
                        <label class="pf-c-form__label" for="edit-item-duedate-date-picker">
                          <span class="pf-c-form__label-text">Due Date</span>
                          <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                        </label>
                      </div>
                      <div class="pf-c-form__group-control">
                        <div class="pf-c-input-group">
                          <label class="pf-c-input-group__text" for="edit-item-duedate-date-picker">
                            <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                          </label>
                          <input class="pf-c-form-control" type="date" id="edit-item-duedate-date-picker" name="edit-item-duedate-date-picker" aria-label="Task due date" :aria-invalid="data.editItem.dueDate==''" v-model="data.editItem.dueDate" v-bind:class="{ 'pf-m-success': data.editItem.title!='' }"/>
                        </div>
                        <p class="pf-c-form__helper-text pf-m-error" id="edit-item-duedate-date-picker-error" aria-live="polite" v-show="data.newItem.dueDate==''">You need to specify task due date</p>
                        <p class="pf-c-form__helper-text pf-m-success" id="edit-item-duedate-date-picker-success" aria-live="polite" v-show="data.newItem.dueDate!=''"></p>
                      </div>
                    </div>
                    <div class="pf-c-form__horizontal-group" v-if="data.editItem.scheduled">
                      <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="edit-item-duedate-time">
                          <span class="pf-c-form__label-text">Time</span>
                        </label>
                        <div class="pf-c-form__horizontal-group">
                          <input class="pf-c-form-control" type="text" id="edit-item-duedate-time" name="edit-item-duedate-time" v-model="data.editItem.dueTime" placeholder="HH:MM" maxlength="5"/>
                        </div>
                      </div>
                    </div>
                    <div class="pf-c-form__horizontal-group" v-if="data.editItem.scheduled">
                      <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="edit-item-duedate-tz">
                          <span class="pf-c-form__label-text">Timezone</span>
                        </label>
                        <div class="pf-c-form__horizontal-group">
                          <input class="pf-c-form-control" type="text" id="edit-item-duedate-tz" name="edit-item-duedate-tz" v-model="data.editItem.dueTimezone" placeholder="+02:00" maxlength="6"/>
                        </div>
                      </div>
                    </div>
                    <div class="pf-c-form__group" v-if="data.editItem.scheduled">
                      <label class="pf-c-form__label pf-m-no-padding-top" for="edit-item-repeating-radio-default">
                        <span class="pf-c-form__label-text">Repeating</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="edit-item-repeating-radio-default" name="exampleRadioSimple" value="No" v-model="data.editItem.repeating"/>
                          <label class="pf-c-radio__label" for="edit-item-repeating-radio-default">No</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="edit-item-repeating-radio-daily" name="exampleRadioSimple" value="Daily"  v-model="data.editItem.repeating"/>
                          <label class="pf-c-radio__label" for="edit-item-repeating-radio-daily">Daily</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="edit-item-repeating-radio-weekly" name="exampleRadioSimple" value="Weekly"  v-model="data.editItem.repeating"/>
                          <label class="pf-c-radio__label" for="edit-item-repeating-radio-weekly">Weekly</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="edit-item-repeating-radio-biweekly" name="exampleRadioSimple" value="BiWeekly"  v-model="data.editItem.repeating"/>
                          <label class="pf-c-radio__label" for="edit-item-repeating-radio-biweekly">Bi-Weekly</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="edit-item-repeating-radio-monthly" name="exampleRadioSimple" value="Monthly"  v-model="data.editItem.repeating"/>
                          <label class="pf-c-radio__label" for="edit-item-repeating-radio-monthly">Montly</label>
                        </div>
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="edit-item-repeating-radio-yearly" name="exampleRadioSimple" value="Yearly"  v-model="data.editItem.repeating"/>
                          <label class="pf-c-radio__label" for="edit-item-repeating-radio-yearly">Yearly</label>
                        </div>
                        <!--
                        <div class="pf-c-radio">
                          <input class="pf-c-radio__input" type="radio" id="edit-item-repeating-radio-custom" name="exampleRadioSimple" value="Yearly"  v-model="data.editItem.repeating"/>
                          <label class="pf-c-radio__label" for="edit-item-repeating-radio-custom">Custom</label>
                        </div>
                        -->
                      </div>
                    </div>
                  </form>
                </div>
                <div class="pf-c-wizard__main-body" v-if="data.editItemWizardPage == 3">
                  <p>Overiew</p>
                  <br />
                  <form novalidate class="pf-c-form pf-m-horizontal">
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="edit-item-id-overview">
                        <span class="pf-c-form__label-text">ID</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p id="edit-item-id-overview" class="pf-c-form-control" name="edit-item-id-overview">{{ data.editItem.id }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="edit-item-title-overview">
                        <span class="pf-c-form__label-text">Title</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p id="edit-item-title-overview" class="pf-c-form-control" name="edit-item-title-overview">{{ data.editItem.title }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group" v-if="data.editItem.description != null && data.editItem.description.length > 0">
                      <label class="pf-c-form__label" for="edit-item-desc-overview">
                        <span class="pf-c-form__label-text">Description</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p class="pf-c-form-control" id="edit-item-desc-overview" name="edit-item-desc-overview">{{ data.editItem.description }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group">
                      <label class="pf-c-form__label" for="edit-item-scheduled-overview">
                        <span class="pf-c-form__label-text">Scheduled</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p class="pf-c-form-control" id="edit-item-scheduled-overview" name="edit-item-scheduled-overview">{{ data.editItem.scheduled }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group" v-if="data.editItem.scheduled">
                      <label class="pf-c-form__label" for="edit-item-duedate-overview">
                        <span class="pf-c-form__label-text">Due date</span>
                        <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p class="pf-c-form-control" id="edit-item-duedate-overview" name="edit-item-duedate-overview">{{ data.editItem.dueDate }} {{ data.editItem.dueTime }} {{ data.editItem.dueTimezone }}</p>
                      </div>
                    </div>
                    <div class="pf-c-form__group" v-if="data.editItem.scheduled">
                      <label class="pf-c-form__label" for="edit-item-repeating-overview">
                        <span class="pf-c-form__label-text">Repeating</span>
                      </label>
                      <div class="pf-c-form__horizontal-group">
                        <p class="pf-c-form-control" id="edit-item-repeating-overview" name="edit-item-repeating-overview">{{ data.editItem.repeating }}</p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <footer class="pf-c-wizard__footer">
              <button class="pf-c-button pf-m-primary" type="submit" v-on:click="editWizardSave">Save</button>
              <button class="pf-c-button pf-m-secondary" type="submit" v-if="editItemWizardPage < 3" v-on:click="editWizardNext">Next</button>
              <button class="pf-c-button pf-m-secondary pf-m-disabled" type="button" v-else>Next</button>
              <button class="pf-c-button pf-m-tertiary pf-m-disabled" type="button" disabled v-if="editItemWizardPage==1">Back</button>
              <button class="pf-c-button pf-m-tertiary" type="button" v-else v-on:click="editWizardBack">Back</button>
              <button class="pf-c-button pf-m-link" type="button" v-on:click="wizardCancel">Cancel</button>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <div class="pf-c-backdrop" id="about" v-show="showAbout" v-on:click="toggleAbout">
      <div class="pf-l-bullseye">
        <div class="pf-c-about-modal-box" role="dialog" aria-modal="true" aria-labelledby="about-modal-title">
          <div class="pf-c-about-modal-box__brand">
            <i class="fas fa-tasks"></i>
          </div>
          <div class="pf-c-about-modal-box__close">
            <button class="pf-c-button pf-m-plain" type="button" aria-label="Close dialog">
              <i class="fas fa-times" aria-hidden="true"></i>
            </button>
          </div>
          <div class="pf-c-about-modal-box__header">
            <h1 class="pf-c-title pf-m-4xl" id="about-modal-title">Task List</h1>
          </div>
          <div class="pf-c-about-modal-box__hero"></div>
          <div class="pf-c-about-modal-box__content">
            <div class="pf-c-about-modal-box__body">
              Version: {{ data.version }}<br />
              User Name: {{ data.user }}<br />
              Home: <a href="https://github.com/jmetso/tasklist">https://github.com/jmetso/tasklist</a><br />
              License: <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache License v2.0</a><br />
            </div>
            <p class="pf-c-about-modal-box__strapline">
              &copy 2019-2021 Janne Metso<br />
              Built with <a href="https://www.patternfly.org/v4/">PatternFly</a> and <a href="https://vuejs.org/">Vue.js</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/todolist.js"></script>
</body>
</html>
