kind: Secret
apiVersion: v1
metadata:
  name: tasklist-git-clone-secret
  namespace: {{ build_namespace }}
  labels:
    credential.sync.jenkins.openshift.io: 'true'
    app: {{ application_label }}
  annotations:
    build.openshift.io/source-secret-match-uri-1: '{{ url }}'
data:
  username: Z2l0Cg==
  ssh-privatekey: >-
    {{ ssh_key_value }}
type: kubernetes.io/ssh-auth
