kind: Secret
apiVersion: v1
metadata:
  name: tasklist-http-clone-secret
  labels:
    credential.sync.jenkins.openshift.io: 'true'
    app: {{ application_label }}
  annotations:
    build.openshift.io/source-secret-match-uri-1: '{{ url }}'
data:
  password: {{ password_value }}
  username: {{ username_value }}
type: kubernetes.io/basic-auth
