kind: Secret
apiVersion: v1
metadata:
  name: tasklist-http-clone-secret
  labels:
    credential.sync.jenkins.openshift.io: 'true'
  annotations:
    build.openshift.io/source-secret-match-uri-1: '{{ git_url }}'
data:
  password: {{ source_clone_password }}
  username: {{ source_clone_username }}
type: kubernetes.io/basic-auth
